.mensaje {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CA0000;
}
.check {
	border: 0px;
	background-color: #006699;
	height: 15px;
	width: 15px;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	background-color: #F0F7FF;
	border: 1px solid #003366;
}
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	background-color: #F0F7FF;
	border: 1px solid #003366;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	background-color: #F0F7FF;
	border: 1px solid #003366;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
#dhtmltooltip{
	font-size: 11px; 
	font-family: Verdana, Arial; 
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
.contenido {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #B6B6B6;
}

#dhtmlpointer{
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}
body {
	background-color: #CCCCCC;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.encabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #666666;
}
.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #666666;
}
.header2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #476592;
}
.td1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #7B92CE;
}
.td2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #A4B4DD;
}
.menu1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #6692B3;
	border: 1px solid #000000;
	cursor: pointer;
}
.menu2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #93B3CA;
	border: 1px dashed #000000;
	cursor: pointer;
}
.solapa1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #6692B3;
	cursor: pointer;
}
.solapa2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #93B3CA;
	cursor: pointer;
}
.solapa3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #D1DFE9;
	cursor: pointer;
	border: 1px solid #FFFFFF;
}
.resaltado1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF0000;
}
.texto_encabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #006699;
}
.fondo_encabezado {
	background-color: #B6B6B6;
	background-image: url(../imagenes/cabecera.gif);
	background-repeat: no-repeat;
}
